# General files
*.class
*.*~
*.css.map
*.autosave.xopp

# Deployment
deployments/CONJIN_DIR
deployments/APP_DIR
deployments/DEPLOYMENTS_DIR
deployments/dmainual/RCLONE_CONFIG_PATH
deployments/*/target
deployments/*/docker_volumes

# Config files
.vscode/*